
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section id="aa-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-contact-area">
                    <div class="aa-contact-top">
                        <h2>Giới thiệu</h2>
                        <p>Đây là nhóm môn lập trình web của thầy Võ Tấn Dũng</p>
                    </div>
                    <!-- Contact address -->
                    <div class="aa-contact-address">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="aa-contact-address-left">
                                    <h4>Thành viên nhóm:</h4>
                                    <p>Nguyễn Lương Tấn Trọng</p>
                                    <p>Nguyễn Văn Trường</p>
                                    <p>Huỳnh Thanh Lộc</p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="aa-contact-address-right">
                                    <address>
                                        <h4>TLT Shop</h4>
                                        <p>Shop chuyên bán các loại sách và truyện tranh</p>
                                        <p><span class="fa fa-home"></span>475A Điện Biên Phủ, Phường 25, Bình Thạnh, Thành phố Hồ Chí Minh</p>
                                        <p><span class="fa fa-phone"></span>01234 710 712</p>
                                        <p><span class="fa fa-envelope"></span>Email: Truong_Loc_Trong@gmail.com</p>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
